/* CUBES */
/* The most Left */
.background-3d-ob1 {
    position: fixed;
    top: -25%;
    left: -40.5%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    pointer-events: none;
    scale: 0.4;
  }
  
  /* Center Left */
  .background-3d-ob4 {
    position: fixed;
    top: -25%;
    left: -29.5%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    pointer-events: none;
    scale: 0.4;
  }
  
  /* Right position on the Left */
  .background-3d-ob6 {
    position: fixed;
    top: -30%;
    left: -35%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    pointer-events: none;
    scale: 0.4;
  }
  
  /* Rightest Right*/
  .background-3d-ob2 {
    position: fixed;
    top: -25%;
    left: 50.5%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    pointer-events: none;
    scale: 0.4;
  }
  
  /* Center Right */
  .background-3d-ob5 {
    position: fixed;
    top: -30%;
    left: 45%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    pointer-events: none;
    scale: 0.4;
  }
  
  /* Left position on the Right */
  .background-3d-ob3 {
    position: fixed;
    top: -25%;;
    left: 39.5%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    pointer-events: none;
    scale: 0.4;
  }