/* Floating Rectangles */
.decorative-rectangles{
    display: flex;
    align-items: center;
  }
  
  .retangulo-flutuante-1 {    
      width: 100%;
      height: 10px;
      background-image: linear-gradient(
        -90deg,
        var(--color-primary),
        var(--color-primary-light),
        var(--color-secondary));
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);    
      z-index: -1;
      animation: flutuar 1s ease-in-out infinite;
  }
  
  .retangulo-flutuante-2 {    
    width: 100%;
      height: 10px;
      background-image: linear-gradient(
        -90deg,
        var(--color-primary),
        var(--color-primary-light),
        var(--color-secondary));
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);    
      z-index: -1;
      animation: flutuar 1s ease-in-out infinite;
  }