/*  CLASSES BOOTSTRAP  
Cada classe bootstrap tem suas proprias variaveis. Ao mudá-las, você consegue sobrescrever o estilo padrão
*/



/* SOBRESCREVER O ESTILO PADRÃO DE BOTÃO OUTLINE DARK  */
.btn-outline-dark {
    /* Cores Padrão */
    --bs-btn-color: var(--color-accent); 
    --bs-btn-border-color: var(--color-accent);
  
    /* Hover */
    --bs-btn-hover-bg: var(--color-accent-light); 
    --bs-btn-hover-border-color: var(--color-accent);
    --bs-btn-hover-color: #ffffff; 
  
    /* Active */
    --bs-btn-active-bg: var(--color-border-accent); 
    --bs-btn-active-border-color: var(--color-border-active);
  }
  
  /* SOBRESCREVER OS ESTILOS DO MODAL */
  .modal-content {
  --bs-modal-bg: var(--popup-bg);
  --bs-modal-border-color: transparent;
  --bs-modal-border-radius: 12px;
  
  border: 2px solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  }
  
  .modal-header {
  background-color: var(--bs-modal-header-bg);
  border-bottom: 1px solid var(--bs-modal-header-border-color);
  padding: var(--bs-modal-header-padding);
  color: white;
  }
  
  .modal-header .btn-close {
  --bs-btn-close-color: #ffffff;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  filter: none;
  }
  
  .modal-body {
  --bs-modal-body-padding: 2rem;
  --bs-modal-body-color: #4a5568;
  
  padding: var(--bs-modal-body-padding);
  color: var(--bs-modal-body-color);
  }
  
  .modal-footer {
  --bs-modal-footer-bg: #f8f9fa;
  --bs-modal-footer-border-color: #e2e8f0;
  --bs-modal-footer-padding: 1.5rem 2rem;
  
  background-color: var(--bs-modal-footer-bg);
  border-top: 1px solid var(--bs-modal-footer-border-color);
  padding: var(--bs-modal-footer-padding);
  }
  
  /* SOBRESCREVER OS ESTILOS DO INPUT DO MODAL */
  .form-control {
  /* Cores principais */
  --bs-form-control-bg: #ffffff;
  --bs-form-control-color: #212529;
  --bs-form-control-border-color: #dee2e6;
  --bs-form-control-border-radius: 8px;
  
  /* Estados */
  --bs-form-control-focus-bg: #ffffff;
  --bs-form-control-focus-border-color: #6f42c1;
  --bs-form-control-focus-color: #212529;
  --bs-form-control-focus-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
  
  /* Campo de Imput */
  background-color: var(--color-text-muted);
  color: var(--bs-form-control-color);
  border: none;
  border-radius: var(--bs-form-control-border-radius);
  transition: all 0.2s ease-in-out;
  }
  
  .form-control:focus {
  background-color: var(--bs-form-control-focus-bg);
  border-color: var(--bs-form-control-focus-border-color);
  color: var(--bs-form-control-focus-color);
  box-shadow: var(--bs-form-control-focus-shadow);
  }