/* CSS das Esferas 3D */

.sphere-container{  
    position: inherit;
    }
    
    /* Esfera central */
    .sphere-3d-s1 {
      position: fixed;
      top: 50vh;
      left: 50%; /* Joga a Esfera central no centro da tela */
      transform: translateX(-35%); /* Joga a Esfera central no centro da tela */
      width: 200px;
      height: 200px;
      z-index: -1;
      opacity: 0.4;
      pointer-events: none;
      scale: 1.5;
    }
    
    
    .sphere-3d-s2 {
      scale: 1.0;
      position: fixed;
      top: 50vh;
      right: 63.5vw;
      width: 200px;
      height: 200px;
      z-index: -1;
      opacity: 0.4;
      pointer-events: none;
    }
    
    .sphere-3d-s3 {
      scale: 1.0;
      position: fixed;
      top: 50vh;
      right: 26vw;
      width: 200px;
      height: 200px;
      z-index: -1;
      opacity: 0.4;
      pointer-events: none;
    }
    
    .sphere-3d-s4 {
      scale: 0.5;
      position: fixed;
      top: 50vh;
      right: 82vw;
      width: 200px;
      height: 200px;
      z-index: -1;
      opacity: 0.4;
      pointer-events: none;
    }
    
    .sphere-3d-s5 {
      scale: 0.5;
      position: fixed;
      top: 50vh;
      right: 8vw;
      width: 200px;
      height: 200px;
      z-index: -1;
      opacity: 0.4;
      pointer-events: none;
    }
    
    .sphere {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: visible;
      border-radius: 100%;
      transform-style: preserve-3d;
      animation: rotate 8s linear infinite;
      position: relative;
    }
    
    .meridian {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid var(--color-accent);
      border-radius: 100%;
      transform-style: preserve-3d;
      box-shadow: inset 0 0 8px var(--color-accent);
    }
    
    .meridian:nth-child(1) {
      transform: rotateX(10deg);
    }
    .meridian:nth-child(2) {
      transform: rotateX(20deg);
    }
    .meridian:nth-child(3) {
      transform: rotateX(30deg);
    }
    .meridian:nth-child(4) {
      transform: rotateX(40deg);
    }
    .meridian:nth-child(5) {
      transform: rotateX(50deg);
    }
    .meridian:nth-child(6) {
      transform: rotateX(60deg);
    }
    .meridian:nth-child(7) {
      transform: rotateX(70deg);
    }
    .meridian:nth-child(8) {
      transform: rotateX(80deg);
    }
    .meridian:nth-child(9) {
      transform: rotateX(90deg);
    }
    .meridian:nth-child(10) {
      transform: rotateX(100deg);
    }
    .meridian:nth-child(11) {
      transform: rotateX(110deg);
    }
    .meridian:nth-child(12) {
      transform: rotateX(120deg);
    }
    .meridian:nth-child(13) {
      transform: rotateX(130deg);
    }
    .meridian:nth-child(14) {
      transform: rotateX(140deg);
    }
    .meridian:nth-child(15) {
      transform: rotateX(150deg);
    }
    .meridian:nth-child(16) {
      transform: rotateX(160deg);
    }
    .meridian:nth-child(17) {
      transform: rotateX(170deg);
    }
    .meridian:nth-child(18) {
      transform: rotateX(180deg);
    }
    .meridian:nth-child(19) {
      transform: rotateX(190deg);
    }
    .meridian:nth-child(20) {
      transform: rotateX(200deg);
    }
    .meridian:nth-child(21) {
      transform: rotateX(210deg);
    }
    .meridian:nth-child(22) {
      transform: rotateX(220deg);
    }
    .meridian:nth-child(23) {
      transform: rotateX(230deg);
    }
    .meridian:nth-child(24) {
      transform: rotateX(240deg);
    }
    .meridian:nth-child(25) {
      transform: rotateX(250deg);
    }
    .meridian:nth-child(26) {
      transform: rotateX(260deg);
    }
    .meridian:nth-child(27) {
      transform: rotateX(270deg);
    }
    .meridian:nth-child(28) {
      transform: rotateX(280deg);
    }
    .meridian:nth-child(29) {
      transform: rotateX(290deg);
    }
    .meridian:nth-child(30) {
      transform: rotateX(300deg);
    }
    .meridian:nth-child(31) {
      transform: rotateX(310deg);
    }
    .meridian:nth-child(32) {
      transform: rotateX(320deg);
    }
    .meridian:nth-child(33) {
      transform: rotateX(330deg);
    }
    .meridian:nth-child(34) {
      transform: rotateX(340deg);
    }
    .meridian:nth-child(35) {
      transform: rotateX(350deg);
    }
    .meridian:nth-child(36) {
      transform: rotateX(360deg);
    }
    
    .latitude {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid var(--color-accent);
      transform: rotateY(90deg);
      border-radius: 100%;
      box-shadow: inset 0 0 5px var(--color-accent);
    }
    
    .latitude:nth-child(37) {
      width: 98.6%;
      height: 98.6%;
      top: 0.6%;
      left: 0.6%;
      transform: rotateY(90deg) translateZ(-8.3%);
    }
    
    .latitude:nth-child(38) {
      width: 93.3%;
      height: 93.3%;
      top: 3.3%;
      left: 3.3%;
      transform: rotateY(90deg) translateZ(-16.6%);
    }
    
    .latitude:nth-child(39) {
      width: 86.6%;
      height: 86.6%;
      top: 6.6%;
      left: 6.6%;
      transform: rotateY(90deg) translateZ(-25%);
    }
    
    .latitude:nth-child(40) {
      width: 73.3%;
      height: 73.3%;
      top: 13.3%;
      left: 13.3%;
      transform: rotateY(90deg) translateZ(-33.3%);
    }
    
    .latitude:nth-child(41) {
      width: 53.3%;
      height: 53.3%;
      top: 23.3%;
      left: 23.3%;
      transform: rotateY(90deg) translateZ(-41.6%);
    }
    
    .latitude:nth-child(42) {
      width: 6.6%;
      height: 6.6%;
      top: 46.6%;
      left: 46.6%;
      border: 3.3% solid var(--color-accent);
      transform: rotateY(90deg) translateZ(-50%);
    }
    
    .latitude:nth-child(43) {
      width: 98.6%;
      height: 98.6%;
      top: 0.6%;
      left: 0.6%;
      transform: rotateY(90deg) translateZ(8.3%);
    }
    
    .latitude:nth-child(44) {
      width: 93.3%;
      height: 93.3%;
      top: 3.3%;
      left: 3.3%;
      transform: rotateY(90deg) translateZ(16.6%);
    }
    
    .latitude:nth-child(45) {
      width: 86.6%;
      height: 86.6%;
      top: 6.6%;
      left: 6.6%;
      transform: rotateY(90deg) translateZ(25%);
    }
    
    .latitude:nth-child(46) {
      width: 73.3%;
      height: 73.3%;
      top: 13.3%;
      left: 13.3%;
      transform: rotateY(90deg) translateZ(33.3%);
    }
    
    .latitude:nth-child(47) {
      width: 53.3%;
      height: 53.3%;
      top: 23.3%;
      left: 23.3%;
      transform: rotateY(90deg) translateZ(41.6%);
    }
    
    .latitude:nth-child(48) {
      width: 6.6%;
      height: 6.6%;
      top: 46.6%;
      left: 46.6%;
      transform: rotateY(90deg) translateZ(50%);
      border: 3.3% solid var(--color-accent);
    }
    
    .axis {
      position: absolute;
      width: calc(100% + 100%);
      height: 1px;
      top: calc(50% - 0.5px);
      background: linear-gradient(
        to left,
        transparent,
        var(--color-accent),
        transparent
      );
    }
    
    .latitude:nth-child(42),
    .latitude:nth-child(48) {
      border-color: var(--color-accent);
    }
    
    .axis + .axis {
      transform: rotateX(90deg);
    }
    
    @keyframes rotate {
      0% {
        transform: rotateX(30deg) rotateY(0deg) rotateZ(80deg);
      }
      100% {
        transform: rotateX(30deg) rotateY(360deg) rotateZ(80deg);
      }
    }
    /* Fim do CSS da Esfera 3D */